<html>
<meta >
<head>
<meta name="google-site-verification" content="OzrZ5nFulNwQ1tXMi9ItSQUJV9VnyuoqZgGuh_KXyMg" />
<link rel="shortcut icon" href="https://icgc.org/files/org_sys/pan.png">
        <title>ICGC PanCancer Status</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="generator" content="Geany 1.23.1" />
        <meta charset="utf-8" http-equiv="refresh" content="600">
        <link rel="shortcut icon" href="https://icgc.org/files/org_sys/pan.png">
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
        <script type="text/javascript" src="http://datamaps.github.io/scripts/datamaps.all.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">loadJS('transfers')</script>
        <link rel="stylesheet" type="text/css" href="style2.css">
        <link rel="stylesheet" type="text/css" href="http://bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<body>
<center>
  <div id="pancancer-header"></div>
  <div class="content" id="contentWrapper">
  <h2>GNOS Transfer Speeds</h2>

[%  FOREACH region IN data.keys.sort %]

[%  FOREACH date IN data.$region.keys.sort %]

[% awslat =  37.538346 %]
[% awslong = -77.461507 %]

[% IF region == "tokyo" %]
  [% awslat =  42.916667 %]
  [% awslong = 143.2 %]
[% ELSIF region == "ireland" %]
  [% awslat =  53.347778 %]
  [% awslong = -6.259722 %]
[% END %]

<h3>Data Transfer Speeds to AWS [% region FILTER ucfirst %] on [% date %]</h3>
<p>This report indicates the transfer speeds seen in a single-client test between AWS Virginia and the other GNOS repositories<br>
<b style="color:red">Red</b> means download is disabled or &lt; 1MB/s in this location, <b style="color:#FFC200">Amber</b> means &lt; 10 MB/s, and <b style="color:green">Green</b> means &gt; 10 MB/s.</p>

<div>

<div id="container_virginia" style="width:800px; height:500px; position:relative;"></div>
     <script>
      var colors = d3.scale.category10();
       //basic map config with custom fills, mercator projection
      var map[% region %] = new Datamap({
        scope: 'world',
        element: document.getElementById('container_[% region %]'),
        geographyConfig: {
          popupOnHover: false,
          highlightOnHover: false,
          highlightFillColor: '#ABDDA4',
        },
        projection: 'mercator',
        fills: {defaultFill: "#ABDDA4",
                gt50: colors(Math.random() * 20),
                // light blue
                gt60: "#63AFD0",
                // blue
                gt70: "#0772A1",
                // aws orange
                gt80: "#FFAE00",
                // red
                gt90: "#FF0000",
                // green
                gt100: "#33CC33",
                // yellow
                gt110: "#FFC200",
                }
      })

       //bubbles, custom popup on hover template
     map[% region %].bubbles([

       [% FOREACH server IN data.$region.$date.keys %]

       [% MBPSSTR = 'MB/s' %]
       [% MBPS = data.$region.$date.$server.$MBPSSTR %]
       [% lat = 41.891519 %]
       [% long = -87.629159 %]
       [% shortname = 'Unknown' %]
       [% color = 'gt100' %]

       [% IF MBPS <= 1 %]
         [% color = 'gt90' %]
       [% ELSIF MBPS >1 && MBPS <=10 %]
         [% color = 'gt110' %]
       [% ELSE %]
         [% color = 'gt100' %]
       [% END %]

       [% IF server == 'gtrepo-dkfz.annailabs.com' %]
         [% shortname = 'Heidelberg' %]
         [% lat = 49.403159 %]
         [% long = 8.676061 %]

       [% ELSIF server == 'gtrepo-bsc.annailabs.com' %]
         [% shortname = 'Barcelona' %]
         [% lat = 41.378691 %]
         [% long = 2.175547 %]

       [% ELSIF server == 'gtrepo-riken.annailabs.com' %]
          [% shortname = 'Tokyo' %]
          [% lat = 35.684219 %]
          [% long = 139.755020 %]

       [% ELSIF server == 'gtrepo-etri.annailabs.com' %]
         [% shortname = 'Seoul' %]
         [% lat = 37.553397 %]
         [% long = 126.980624 %]

       [% ELSIF server == 'gtrepo-ebi.annailabs.com' %]
        [% shortname = 'London' %]
        [% lat = 51.507919 %]
        [% long = -0.123571 %]

       [% ELSIF server == 'gtrepo-osdc-icgc.annailabs.com' %]
         [% shortname = 'Chicago' %]

       [% ELSIF server == 'cghub.ucsc.edu' %]
        [% shortname = 'Santa Cruz' %]
        [% lat = 36.971944 %]
        [% long = -122.026389 %]

       [% END %]

       {name: "[% shortname %]", bandwidth: '[% MBPS %] MB/s', latitude: [% lat %], longitude: [% long %], radius: 8, fillKey: '[% color %]'},

       [% END %]

      {name: "Amazon [% region  FILTER ucfirst %]", bandwidth: '', latitude: [% awslat %], longitude: [% awslong %], radius: 8, fillKey: 'gt80'}

     ]
, {
       popupTemplate: function(geo, data) {
         return "<div class='hoverinfo'>"+data.name+"<br/>"+data.bandwidth+ "</div>";
       }
     });

 map[% region %].arc([

 [% FOREACH server IN data.$region.$date.keys %]

 [% MBPSSTR = 'MB/s' %]
 [% MBPS = data.$region.$date.$server.$MBPSSTR %]
 [% lat = 41.891519 %]
 [% long = -87.629159 %]
 [% shortname = 'Unknown' %]
 [% color = '#FF0000' %]

 [% IF MBPS <= 1 %]
   [% color = '#FF0000' %]
 [% ELSIF MBPS >1 && MBPS <=10 %]
   [% color = '#FFFF00' %]
 [% ELSE %]
   [% color = '#33CC33' %]
 [% END %]

 [% IF server == 'gtrepo-dkfz.annailabs.com' %]
   [% shortname = 'Heidelberg' %]
   [% lat = 49.403159 %]
   [% long = 8.676061 %]

 [% ELSIF server == 'gtrepo-bsc.annailabs.com' %]
   [% shortname = 'Barcelona' %]
   [% lat = 41.378691 %]
   [% long = 2.175547 %]

 [% ELSIF server == 'gtrepo-riken.annailabs.com' %]
    [% shortname = 'Tokyo' %]
    [% lat = 35.684219 %]
    [% long = 139.755020 %]

 [% ELSIF server == 'gtrepo-etri.annailabs.com' %]
   [% shortname = 'Seoul' %]
   [% lat = 37.553397 %]
   [% long = 126.980624 %]

 [% ELSIF server == 'gtrepo-ebi.annailabs.com' %]
  [% shortname = 'London' %]
  [% lat = 51.507919 %]
  [% long = -0.123571 %]

 [% ELSIF server == 'gtrepo-osdc-icgc.annailabs.com' %]
   [% shortname = 'Chicago' %]

 [% ELSIF server == 'cghub.ucsc.edu' %]
  [% shortname = 'Santa Cruz' %]
  [% lat = 36.971944 %]
  [% long = -122.026389 %]

 [% END %]
{
    origin: {
        latitude: [% lat %],
        longitude: [% long %]
    },
    destination: {
        latitude: [% awslat %],
        longitude: [% awslong %]
    },
    options: {
      strokeWidth: 2,
      strokeColor: "[% color %]"
    }
},
 [% END %]

],  {strokeWidth: 1, arcSharpness: 1.4});

</script>


<p>
<br>
<table name ="x1" class="rounded-corner" summary="">
<thead>
<tr>
<th>Site</th>
<th>MB/s to [% region FILTER ucfirst %]</th>
<th>Genome Alignments per Day</th>
<th>Variant Calling per Day</th>
<th>Days to Transfer 100TB</th>
</tr>
</thead>
<tbody>

  [% FOREACH server IN data.$region.$date.keys.sort %]

  [% MBPSSTR = 'MB/s' %]
  [% MBPS = data.$region.$date.$server.$MBPSSTR %]
  [% shortname = 'Unknown' %]
  [% color = '#FF0000' %]

  [% IF MBPS <= 1 %]
    [% color = '#FF0000' %]
  [% ELSIF MBPS >1 && MBPS <=10 %]
    [% color = '#FFFF00' %]
  [% ELSE %]
    [% color = '#33CC33' %]
  [% END %]

  [% IF server == 'gtrepo-dkfz.annailabs.com' %]
    [% shortname = 'Heidelberg' %]


  [% ELSIF server == 'gtrepo-bsc.annailabs.com' %]
    [% shortname = 'Barcelona' %]


  [% ELSIF server == 'gtrepo-riken.annailabs.com' %]
     [% shortname = 'Tokyo' %]


  [% ELSIF server == 'gtrepo-etri.annailabs.com' %]
    [% shortname = 'Seoul' %]


  [% ELSIF server == 'gtrepo-ebi.annailabs.com' %]
   [% shortname = 'London' %]


  [% ELSIF server == 'gtrepo-osdc-icgc.annailabs.com' %]
    [% shortname = 'Chicago' %]

  [% ELSIF server == 'cghub.ucsc.edu' %]
   [% shortname = 'Santa Cruz' %]


  [% END %]
<tr>
  <td>[% server %] ([% shortname %])</td>
  <td>[% MBPS | format('%4.2f') %]</td>
  <td>[% data.$region.$date.$server.Genome_Align_Per_Day | format('%4.2f') %]</td>
  <td>[% data.$region.$date.$server.Genome_Variant_Call_Per_Day | format('%4.2f') %]</td>
  <td>[% data.$region.$date.$server.days_for_100TB | format('%4.2f') %]</td>
</tr>

[% END %]

</tbody>
<tfoot>
          <tr>
                  <td colspan="19">* Per day estimates are based on a single upload/download client transferring 300GB/genome each for unaligned (download) and aligned (uploaded) files (600GB total).</td>
          </tr>
  </tfoot>

</table>
</p>

<div id="line_chart" class="chart"></div>

<script>drawAlignmentChart2()</script>


</div>

[% END %]
[% END %]


</div>
</center>
</body>
</html>

